@model MalagaRealEstate.Models.Properties

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Properties</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SquareMeters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SquareMeters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elevator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elevator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwimmingPool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwimmingPool)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terrace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terrace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
