@model IEnumerable<MalagaRealEstate.Models.Properties>
@using System.Globalization;

    @{
        ViewData["Title"] = "Índice administrador";
    }
    <div class="d-flex justify-content-between align-items-center">
        <h1>Administración de publicaciones</h1><a asp-action="Create" class="btn btn-success">Añadir nueva propiedad</a>
    </div>
    <div class="text-left">
        
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Header)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SquareMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostedDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Header)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SquareMeters)
                    </td>
                    <td>
                        @String.Format("{0:C0}", item.OwnerPrice)
                    </td>
                    <td>
                        @item.PostedDay.ToString().Substring(0, 10)
                    </td>
                    <td>
                        @item.Updated.ToString().Substring(0, 10)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-sm btn-info" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
